<!DOCTYPE html>

<html>
    
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>

    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <p>This site was created by Kimmora. <br> It uses data from mapbox.com and darksky.net</p>>
        <img src="/img/me.JPG" alt="black girl with dark shades">
        </div>
        {{>footer}}
    </body>
</html>